<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>登録</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src='main.js'></script>
</head>
<body>
  <div th:switch="${actionCmd}">
    <h1 th:case="new">新規タスク登録</h1>
    <h1 th:case="update">タスク情報更新</h1>
  </div>


  <form th:object="${taskInputForm}" th:action="@{/task/{actionCmd}/confirm (actionCmd=${actionCmd})}" method="post">
    <div class="container my-5">
      <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white fw-bold">ユーザー一覧</div>
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <tbody>
              <tr>
                <td>
                  <input th:type="hidden" th:field="${taskInputForm.id}">
                </td>
              </tr>
              <tr>
                <td>種類</td>
                <td>
                  <input type="text" th:field="*{type}">
                  <span style="color: red;" th:if="${#fields.errors('type')}" th:errors="*{type}"></span>
                </td>
              </tr>
              <tr>
                <td>名称</td>
                <td>
                  <input type="text" th:field="*{taskName}">
                  <span style="color: red;" th:if="${#fields.errors('taskName')}" th:errors="*{taskName}"></span>
                </td>
              </tr>
              <tr>
                <td>説明</td>
                <td>
                  <input type="text" th:field="*{taskDescription}">
                  <span style="color: red;" th:if="${#fields.errors('taskDescription')}" th:errors="*{taskDescription}"></span>
                </td>
              </tr>
              <tr>
                <td>優先度</td>
                <td>
                  <input type="text" th:field=*{priority}>
                  <span style="color: red;" th:if="${#fields.errors('priority')}" th:errors="*{priority}"></span>
                </td>
              </tr>
              <tr>
                <td>期日</td>
                <td>
                  <input type="date" th:field="*{deadline}">
                  <span style="color: red;" th:if="${#fields.errors('deadline')}" th:errors="*{deadline}"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <button type="submit">確認</button>
  </form>
</body>
</html>