<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>確認</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src='main.js'></script>
</head>
<body>
  <h1>確認</h1>

  <form th:action="@{/task/{actionCmd}/execute (actionCmd=${actionCmd})}" th:object="${taskInputForm}" method="post">
    <div class="container my-5">
      <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white fw-bold">ユーザー一覧</div>
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <tbody>
              <tr>
                <td>
                  <input th:type="hidden" th:field="${taskInputForm.id}">
                </td>
              </tr>
              <tr>
                <td>種類</td>
                <td th:text="${taskInputForm.type}"></td>
              </tr>
              <tr>
                <td>名称</td>
                <td th:text="*{taskName}"></td>
              </tr>
              <tr>
                <td>説明</td>
                <td th:text="*{taskDescription}"></td>
              </tr>
              <tr>
                <td>優先度</td>
                <td th:text="*{priority}"></td>
              </tr>
              <tr>
                <td>期日</td>
                <td th:text="*{deadline}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <input type="hidden" th:field="*{type}">
    <input type="hidden" th:field="*{taskName}" />
    <input type="hidden" th:field="*{taskDescription}" />
    <input type="hidden" th:field=*{priority} />
    <input type="hidden" th:field="*{deadline}" />
    <button type="submit">完了</button>
  </form>

</body>
</html>